
// GLOBAL
	$mobile: "handheld,screen and (max-width:580px)";
	$tablet: "only screen and (min-width: 581px) and (max-width: 979px)";
	$desktop: "only screen and (min-width: 980px)";

	$main-font:'Bangers', cursive;
	//GLOBAL-COLORS
			// $gradCol1:#14282C;
			$gradCol1: rgba(20, 40, 44, 0.8);
			// $gradCol2:#4C6C72;
			$gradCol2:rgba(76, 108, 114, 0.8);

			@mixin center() {
			 width:100%;
			 margin-left:auto;
			 margin-right:auto;
			}
			@mixin roundBorders(){
				 border-radius: 25px;
				  border-style: solid;
		    		border-width: 5px;

			}
			@mixin grad($color1,$color2){
		  background: color1; /* For browsers that do not support gradients */
		  background: -webkit-linear-gradient(left top,$color1 , $color2); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox 3.6 to 15 */
		  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */
			}

			$main-block-color: #14282C;



// BODY
	// BODY_COLORS
	$body-bg-color:green;



// NAV

// NAV_DIM
$nav-height: 100px;

// NAV_COLORS
$nav-bg-color : darkgrey;
$nav-text-color: white;