<!-- <div class="nav">
	<div class="nav__logo">
		<img src="img/logo.png" height="100" width="100" alt="">
	</div>
</div> -->

<!-- Comienzo del login -->
<!-- <div ng-controller="loginCtrl"> -->
	<form class="login animated bounceInUp" role ="form" name="form1">
		<div class="login__box">
			<h2 class="login__box__lable">Usuario</h2>
			<input  class="login__box__input" type="text" id ="username" ng-model ="user.name">
			<h2 class="login__box__lable">Contraseña</h2>
			<input class="login__box__input" type="password" id ="password" ng-model ="user.pass" >
		</div>
		<button class="login__submit" type="submit" ng-disabled ="form1.$invalid" ng-click="login(user)" >Ingresar</button>
		<p class="login__box__msg">{{msgtxt}}</p>
	</form>
<!-- </div> -->
<!-- fin del login -->

